[tool.poetry]
name = "observ"
version = "0.12.0"
description = "Reactive state management for Python"
authors = ["Korijn van Golen <korijn@gmail.com>", "Berend Klein Haneveld <berendkleinhaneveld@gmail.com>"]
license = "MIT"
homepage = "https://github.com/fork-tongue/observ"
readme = "README.md"

[tool.poetry.dependencies]
python = ">=3.9"
patchdiff = "~0.3.4"

[tool.poetry.group.dev.dependencies]
black = "*"
flake8 = "*"
flake8-black = "*"
flake8-import-order = "*"
flake8-print = "*"
pre-commit = "*"
PySide6 = { version = ">=6.6", python = "<3.13"}
pytest = "*"
pytest-cov = "*"
pytest-qt = "*"
pytest-timeout = "*"
pytest-xvfb = "*"
twine = "*"
urllib3 = { version = "*", python = "<4"}

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
