[tool.poetry]
name = "observ"
version = "0.6.0"
description = "Reactive state management for Python"
authors = ["Korijn van Golen <korijn@gmail.com>"]
license = "MIT"
homepage = "https://github.com/Korijn/observ"
readme = "README.md"

[tool.poetry.dependencies]
python = ">=3.6,<3.10"

[tool.poetry.dev-dependencies]
black = "*"
flake8 = "*"
flake8-black = "*"
flake8-import-order = "*"
flake8-print = "*"
pre-commit = { version = "*", python = ">=3.6.1"}
pytest = "*"
pytest-cov = "*"
pytest-timeout = "*"
PySide6 = "*"
twine = "*"

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
