[tool.poetry]
name = "observ"
version = "0.10.0"
description = "Reactive state management for Python"
authors = ["Korijn van Golen <korijn@gmail.com>", "Berend Klein Haneveld <berendkleinhaneveld@gmail.com>"]
license = "MIT"
homepage = "https://github.com/fork-tongue/observ"
readme = "README.md"

[tool.poetry.dependencies]
python = ">=3.7"
patchdiff = "~0.3.3"

[tool.poetry.dev-dependencies]
black = "*"
flake8 = "*"
flake8-black = "*"
flake8-import-order = "*"
flake8-print = "*"
pre-commit = "*"
pytest = "*"
pytest-cov = "*"
pytest-timeout = "*"
PySide6-Essentials = { version = "*", python = "<3.11"}
twine = "*"
urllib3 = { version = "*", python = "<4"}

[build-system]
requires = ["poetry>=1.0.0"]
build-backend = "poetry.masonry.api"
